<div class='container'>
  <!--検索フォーム-->
  <%= search_form_for @p, url: search_movies_path do |f| %>
    <div class="input-group mb-3">
      <!--name_contは、あいまい検索を指定-->
      <%= f.text_field :title_cont, class: 'form-control', placeholder: "検索ワードを入力" %>
      <div class="input-group-append">
        <%= button_tag type: "submit", class: "btn btn-info" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">

    <!--ジャンル検索のサイドバー-->
    <div class="col-md-2">
      <%= render 'layouts/search_side_bar', genres: @genres %>
    </div>

    <!--投稿一覧の表示-->
    <div class="col-md-10">
      <div class="row">
        <% @movies.each do |movie| %>
          <div class="col-md-4 mb-3">
            <div class="card" style='width:100%; height:100%;'>
              <%= link_to movie_path(movie.id) , {style: "height: 50%;"}  do %>
                <%= image_tag movie.get_image, :width =>"100%", :height =>"100%" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= movie.title %></h5>
                <span class="card-text"><%= movie.body %></span><br>
                <!--#自然言語処理追加-->
                <span class="sentiment-score">本文の感情分析スコア<%= movie.score %></span>
                 <div id="favorite_btn_<%=movie.id %>">
                    <%= render "public/favorites/favorites", movie: movie %>
                  </div>
                <p><%= link_to "#{movie.movie_comments.count} コメント", movie_path(movie.id) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <ul class="pagination justify-content-center">
    <%= paginate @movies %>
  </ul>

</div>