<div>
  <%= image_tag @movie.get_image %>
  <p>タイトル：<%= @movie.title %></p>
  <p>内容：<%= @movie.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @movie.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @movie.user.name %></p>
  <p>投稿日：<%= @movie.created_at.strftime('%Y/%m/%d') %></p>
  <% if @movie.user == current_user %>
  <%= button_to "削除", movie_path(@movie), method: :delete %>
  <% end %>
  <% if @movie.favorited_by?(current_user) %>
    <p>
      <%= button_to movie_favorites_path(@movie), method: :delete do %>
        ♥<%= @movie.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= button_to movie_favorites_path(@movie), method: :post do %>
        ♡<%= @movie.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @movie.movie_comments.count %></p>
  <% @movie.movie_comments.each do |movie_comment| %>
    <p><%= image_tag movie_comment.user.get_profile_image(100,100) %></p>
    <%= movie_comment.user.name %>
    <%= movie_comment.created_at.strftime('%Y/%m/%d') %><%= movie_comment.comment %>
    <% if movie_comment.user == current_user %>
      <%= link_to "削除", movie_movie_comment_path(movie_comment.movie, movie_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@movie, @movie_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>