<div class='container'>
  <!--検索フォーム-->
  <%= search_form_for @p, url: search_movies_path do |f| %>
    <div class="input-group mb-3">
      <!--name_contは、あいまい検索を指定-->
      <%= f.text_field :title_cont, class: 'form-control', placeholder: "検索ワードを入力" %>
      <div class="input-group-append">
        <%= button_tag type: "submit", class: "btn btn-info" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>

<div class="row">

    <% @movies.each do |movie| %>
        <div class="card" style="width: 18rem;">
        <%= link_to admin_movie_path(movie.id) do %>
          <%= image_tag movie.get_image, size: '286x180' %>
        <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.body %></p>
        <p><%= link_to "#{movie.movie_comments.count} コメント", movie_path(movie.id) %></p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
        </div>
    <% end %>

</div>



<%= paginate @movies %>

</div>